body {
  font-family: $f-main;
  color: #000;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  line-height: 1.2;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
}

::selection {
  color: #fff;
  background: $step1;
}

.wrapper {
  overflow: hidden;
}

.main {
  display: block;
}

.form-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;

  &__helper {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(90deg) translate(100%, -100%);
    font-weight: 500;
    font-size: 16px;
    color: #EB5757;
    transform-origin: 100% 0;
    line-height: 37px;
  }

  &__inner {
    position: relative;
    width: 100%;
    max-width: 1152px;
  }

}

.form-data {

  &__item {
    border: 2px solid $step1;
    border-radius: 45px 0 45px 0;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    visibility: hidden;
    min-height: 575px;
    left: 0;
    top: 0;
    width: 100%;

    &--active {
      display: flex;
      flex-wrap: wrap;
      z-index: 1;
      position: static;
      opacity: 1;
      pointer-events: initial;
      visibility: visible;
    }

    &--step_1 {
      border-color: $step1;

      .form__input {
        background-color: #FFB78F;
        border-color: #FFB78F;
      }

      .form-data__info {
        background-color: $step1;
      }
    }

    &--step_2 {
      border-color: $step2;

      .form-step__item {
        border-color: $step2;
      }

      .form__input {
        background-color: #EBBD80;
        border-color: #EBBD80;
      }

      .form-data__info {
        background-color: #F39B93;
        border-color: #F39B93;
      }

      .btn{
        background-color: #D77B00;
        border-color: #D77B00;

        &:hover {
          color: #D77B00;
        }

        &:active,
        &:focus {
          color: #fff;
          background: #EBBD80;
        }

      }
    }

    &--step_3 {
      border-color: $step3;

      .form-step__item {
        border-color: $step3;
      }

      .form__input {
        background-color: #F39B93;
        border-color: #F39B93;
      }

      .form-data__info {
        background-color: $step3;
      }


      .btn{
        background-color: #E93A29;
        border-color: #E93A29;

        &:hover {
          color: #E93A29;
        }

        &:active,
        &:focus {
          color: #fff;
          background: #F39B93;
        }

      }
    }
  }

  &__info {
    height: 100%;
    background-color: inherit;
  }

  &__cell {
    width: 50%;
    flex: 1;
  }
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  transform: translate(-25%, -40%);
}

.info-form {
  background-color: inherit;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #fff;
  padding: 25px 20px;
  text-align: center;
  height: 100%;


  &__inner {
    padding-top: 67px;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
  }
}

.btn {
  font-size: 24px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  border: 2px solid #FF6E20;
  background-color: #FF6E20;
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  transition: .3s;
  outline: none;
  cursor: pointer;

  span {
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;

    &:after {
      content: '';
      display: inline-block;
      width: 70px;
      height: 20px;
      background-image: url('../images/arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      margin-left: 10px;
    }
  }

  &:hover {
    color: #FF6E20;
    background: #fff;
    text-decoration: none;
  }

  &:active,
  &:focus {
    color: #fff;
    background-color: #F2AA83;
  }
}

.help-block {
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 100%;
  transition: .3s;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  display: block !important;
  color: #EB5757;

}

.form {
  width: 100%;
  //padding: 75px 70px 30px 30px;
  padding: 75px 12% 30px 22%;
  height: 100%;

  &__title {
    color: #000;
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;

    a {
      color: #000;
      text-decoration: none;
      font-weight: 700;
      transition: .3s;

      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
    }
  }

  &__subtitle {
    font-size: 16px;
    color: #000;
    text-align: center;
    padding-bottom: 40px;
  }

  &__data {
    width: 100%;
    max-width: 385px;

  }

  &__check {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    border: 0;
    pointer-events: none;
    margin: 0;

    &:checked {

      & + .form__check-label {

        &:after {
         opacity: 1;
        }
      }
    }

  }

  &__check-label {
    font-size: 12px;
    color: #333333;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    transition: .3s;

    &:hover {
      opacity: 0.8;
    }

    &:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: #C4C4C4;
      left: 0;
      top: -2px;
      transition: .3s;
    }

    &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 7px;
      border: 3px solid #ffb78f;
      border-left-color: transparent;
      border-top-color: transparent;
      left: 5px;
      top: -2px;
      transition: .3s;
      transform: rotate(45deg);
      opacity: 0;
    }

    &:after {

    }
  }

  &__radio {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    border: 0;
    pointer-events: none;
    margin: 0;

    &:checked {

      & + .form__radio-label {

        &:before {
          background-color: #FFB78F;
        }
      }
    }

  }

  &__radio-label {
    font-size: 16px;
    color: #333333;
    padding-left: 40px;
    position: relative;
    cursor: pointer;
    transition: .3s;

    &:hover {
      opacity: 0.8;
    }

    &:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      border: 4px solid #C4C4C4;
      border-radius: 100%;
      background-color: #C4C4C4;
      left: 0;
      top: -3px;
      transition: .3s;
    }

    &:after {

    }
  }

  &__item {
    margin-bottom: 30px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &.has-error {

      &:before {
        content: '!';
        color: #fff;
        font-size: 14px;
        line-height: 30px;
        display: block;
        position: absolute;
        right: -40px;
        top: 50%;
        transform: translate(0, -50%);
        width: 30px;
        height: 30px;
        background-image: url("../images/polygon.svg");
        background-size: contain;
        background-repeat: no-repeat;
        text-align: center;
      }

      .form__input {
        border-color: #EB5757;
      }

      .help-block {
        opacity: 1;
        z-index: 5;
      }
    }
  }

  &__input {
    height: 40px;
    width: 100%;
    max-width: 100%;
    border: 2px solid $step1;
    background-color: $step1;
    padding: 0 15px;
    font-size: 16px;
    display: block;
    outline: none;
    box-shadow: none;
    font-family: $f-main;
    transition: .3s;
    color: #000;

    &::-webkit-input-placeholder {
      color: #000;
    }
    &::-moz-placeholder {
      color: #000;
    }
    &:-ms-input-placeholder {
      color: #000;
    }
    &:-moz-placeholder {
      color: #000;
    }

    &:focus {
      background-color: #E6DFDB;
      font-style: italic;
      outline: none;
      border-color: #FE6E20;
    }

  }
}

.radio-data {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 50%;
    padding-right: 20px;
    text-align: left;
  }
}

.check-data {
  margin-top: -10px;
  margin-bottom: 20px;
}


.btn-menu {
  position: absolute;
  right: 8px;
  top: -45px;
  width: 35px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    opacity: 0.6;

    .btn-menu__item {

      &:before {
        right: -2px;
      }
    }
  }

  &__item {
    margin: 6px 0;
    width: 100%;
    height: 4px;
    background: #000;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      right: -6px;
      width: 4px;
      height: 4px;
      background: #000;
      transition: .3s;
    }
  }
}

.form-step {
  position: absolute;
  bottom: 100%;
  right: 180px;
  margin-bottom: -1px;

  &__inner {
    display: flex;
  }

  &__item {
    line-height: 33px;
    font-size: 24px;
    text-align: center;
    padding: 0 10px;
    min-width: 70px;
    border: 1px solid #ff6e20;
    margin-right: 32px;
    background-color: #fff;

    &--enable {
      cursor: pointer;
      transition: .3s;

      &:hover {
        opacity: 0.8;
      }
    }

    &:last-child{
      margin-right: 0;
    }

    &--active {
      transform: translateY(1px);
      border-width: 2px;
      border-bottom-color: #fff;

      &:nth-child(2) {
        border-color: $step2;
        border-bottom-color: #fff;
      }

      &:last-child {
        border-color: $step3;
        border-bottom-color: #fff;

      }
    }
  }
}