@mixin i() {
  &:before {
    content: "";
    display: inline-block;
    font-size: 10px;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 8.3em 5.1em;

    .no-svg & {
      background-image: url("../images/sprite.png");
    }
  }
}

[class*='i-'] {
  display: inline-block;

  &:before {
    @include i;
  }
}

@mixin i-Arrow() {
  &:before {
    background-position: -0.5em -0.5em;
    width: 7.3em;
    height: 0.8em;
  }
}

.i-Arrow {

  &:before {
    @include i-Arrow;
  }
}

@mixin i-Polygon() {
  &:before {
    background-position: -0.5em -2.3em;
    width: 2.8em;
    height: 2.3em;
  }
}

.i-Polygon {

  &:before {
    @include i-Polygon;
  }
}
