include ../partials/mixins/mixin

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = ''
    - var dir = ''
    - var images = '/images/'

doctype html
html(lang='ru-RU')

    head
        meta(charset='UTF-8')
        meta(name='format-detection', content='telephone=no')
        //meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(data-n-head="true" name="theme-color" content="#cb7632")
        title #{pageTitle}
        block styles
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic-ext" rel="stylesheet")
        link(rel='stylesheet', href= dir + 'css/styles.min.css')
    body(class=bodyClass)
        .wrapper
            //header.header
            block main
            //footer.footer
        script(src="js/vendor/jquery-3.2.1.min.js")
        block script
        script(src="js/app.min.js")
