extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Tet task'
    - var dir = ''

block main
    main.main
        form(action='').form-page
            .form-page__inner
                a(href="#").logo.form-page__logo
                    img(srcset="./images/logo.png 1x, ./images/logo@2x.png 2x" , alt='logo')
                a(href="#").btn-menu
                    .btn-menu__item
                    .btn-menu__item
                    .btn-menu__item
                .form-page__helper Все поля обязательны для заполнения
                .form-step
                    .form-step__inner
                        .form-step__item.form-step__item--active 1
                        .form-step__item 2
                        .form-step__item 3
                ul.form-data
                    li.form-data__item.form-data__item--active.form-data__item--step_1
                        .form-data__cell
                            .form-data__info
                                +info-form("Всего три простых шага для получения бонусов!", 'img1',"")
                        .form-data__cell
                            .form
                                .form__data
                                    .form__item
                                        input(type='text', placeholder='Фамилия', name="family").form__input
                                        span.help-block Это поле обязательное для заполнения
                                    .form__item
                                        input(type='text', placeholder='Имя', name="name").form__input
                                        span.help-block Это поле обязательное для заполнения
                                    .form__item
                                        input(type='text', placeholder='Отчество', name="lastName").form__input
                                        span.help-block Это поле обязательное для заполнения
                                    .form__item.radio-data
                                        .radio-data__item
                                            input(type='radio', name="gender" id="gender__male" value="0").form__radio
                                            label(for="gender__male").form__radio-label Мужчина
                                        .radio-data__item
                                            input(type='radio', name="gender" id="gender__female" value="1").form__radio
                                            label(for="gender__female").form__radio-label Женщина
                                        span.help-block Это поле обязательное для заполнения
                                    .form__item
                                        input(type='text', placeholder='Дата рождения', name="birthday").form__input
                                        span.help-block Это поле обязательное для заполнения
                                    .form__item.check-data
                                        .check-data__item
                                            input(type='checkbox', name="agreement" id="agreement" value="1").form__check
                                            label(for="agreement").form__check-label Соглашаюсь с условиями участия
                                        span.help-block Это поле обязательное для заполнения
                                    .form__item
                                        a(href="#").btn.js--go-next-step
                                            span Продолжить
                    li.form-data__item.form-data__item--step_2
                        .form-data__cell
                            .form-data__info
                                +info-form("Половина пути уже пройдена", 'img2', "")
                        .form-data__cell
                            .form
                                .form__data
                                    .form__item
                                        input(type='tel', placeholder='Телефон', name="phone").form__input
                                        span.help-block Это поле обязательное для заполнения

                                    .form__item
                                        input(type='text', placeholder='Email', name="emailAdress").form__input
                                        span.help-block Это поле обязательное для заполнения

                                    .form__item
                                        input(type='password', placeholder='Пароль', name="password").form__input
                                        span.help-block Это поле обязательное для заполнения

                                    .form__item
                                        input(type='password', placeholder='Повторите пароль', name="passwordRepeat").form__input
                                        span.help-block Это поле обязательное для заполнения

                                    .form__item
                                        a(href="#").btn.js--go-next-step
                                            span Продолжить
                    li.form-data__item.form-data__item--step_3
                        .form-data__cell
                            .form-data__info
                                +info-form("Осталось совсем чуть-чуть ", 'img3', "")
                        .form-data__cell
                            .form
                                .form__title.
                                    На номер <a href="tel:+375293334455"> +375293334455 </a>
                                     отправлен код подтверждения
                                .form__subtitle Введите его в поле ниже:
                                .form__data
                                    .form__item
                                        input(type='text', placeholder='Код', name="key" required).form__input
                                        span.help-block это поле обязательное для заполнения
                                    .form__item
                                        input(type="submit" value="Присоедениться", class="btn btn-form")
                                        span.help-block Отправить код еще раз

block script

